
@font-face {
    font-family: orca;
    src: url("../fonts/OCRAEXT.TTF");
}

body {
    font-family: orca;
}

.testingBorder {
    border: 1px solid red;
}

a {
    text-decoration: none;
}


.boxes {

    border-radius: 25px 25px 25px 25px;
}

.header {
    position: sticky;
    top: 0;
    width:100%;
}

.subheader {
    position: sticky;
    top: 86px;
}

html {
    scroll-padding-top: 160px;
}
